@{
    ViewBag.Title = "Change Password";
}

@section article {
<article class="grid_12">
    <h2>Change Password</h2>
    <p>
        Your password has been changed successfully.
    </p>
</article>
}
