@Html.ActionLink("Work", "Index", "Work")
@Html.ActionLink("Résumé", "Index", "Resume")
@Html.ActionLink("About", "Index", "About")
<a data-controls-modal="contact-modal" data-backdrop="static">Contact</a>
