@{
    ViewBag.Title = "About | Daniel Poindexter";
}

@section article {

<article id="about" class="grid_12">
    <h2>About Me</h2>
    <section class="grid_8" id="description">
        <p>I don't actually wear glasses. I like sports, in fact. But it's fun to play off the popular perception of my name.</p>
        <p>I've done a little bit of everything at every layer of the web stack &ndash; in fact, I've really only programmed for the web. So I'm working to get a handle on computer science theory right now. I came into this industry as a visual designer, so I didn't expect to fall in love with programming and be reading about linked lists and big-O notation on Wikipedia in the middle of the night. My domain knowledge when it comes to web apps is helpfully broad but sometimes irritatingly shallow.</p>
        <p>I love being able to plan, design and build a great-looking application from the ground up. I especially like the new trend of responsive apps with Javascript-y frontends driven by lean, API-style backends.</p>
        <p>I helped found a company in 2009. Although my partners and I parted ways, it was an amazing experience that taught me bundles. I think it's impossible to start a company and come away from the experience without a much better understanding of the big picture. I was the sole technical guy, so I still haven't had a chance to work with a great team of programmers and designers. I think that's what I'm most looking forward to doing next.</p>
    </section>
    <section class="grid_4" id="overview">
        <dl>
            <dt>Location</dt>
            <dd>Houston, Texas</dd>
            <dt>Email</dt>
            <dd><a href="mailto:daniel@danielpoindexter.com">daniel@danielpoindexter.com</a></dd>
            <dt>Phone</dt>
            <dd>(832) 626-2125</dd>
            <dt>LinkedIn</dt>
            <dd><a href="http://www.linkedin.com/in/dpoindexter" target="_blank">linkedin.com/in/dpoindexter</a></dd>
            <dt>Disciplines</dt>
            <dd>
                <span class="tag">Web Application Development</span>
                <span class="tag">User Interface Design</span>
                <span class="tag">Visual Design</span>
                <span class="tag">Programming</span>
                <span class="tag">Front-End Design</span>
            </dd>
            <dt>Proficiencies</dt>
            <dd>
                <span class="tag">C#</span>
                <span class="tag">ASP.NET MVC</span>
                <span class="tag">SQL</span>
                <span class="tag">Javascript</span>
                <span class="tag">jQuery</span>
                <span class="tag">HTML5</span>
                <span class="tag">CSS</span>
                <span class="tag">Photoshop</span>
            </dd>
        </dl>
    </section>
</article>

}
