@import url("http://fonts.googleapis.com/css?family=Squada+One");
@import url("type/titillium.css");
@import url("grid.css");

header, nav, section, article, aside, footer, hgroup, figure { 
    display: block;
}

/* Major layout elements 
=========================================================================*/

body {
    font-family: "TitilliumMedium";
    background: url(../img/elements/bg.png) left top repeat;
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 62.5%;
}

header {
    height: 177px;
    border-bottom: 3px solid black;
    margin: 0;
    background: url(../img/elements/horizontal-dash.png) repeat-x left 170px;
}

footer {
    border-top: 3px solid black;
    padding: 30px 0 30px 0;
    margin: 0;
    background: url(../img/elements/horizontal-dash.png) repeat-x left 10px;
}

section#about {
    font-family: "TitilliumBold";
    font-size: 2em;
    line-height: 1.5em;
    padding-top: 30px;
}


/* Main sidebar navigation
=========================================================================*/

nav {
    margin: 0;
    padding-top: 24px;
}

nav a {
    display: block;
    position: relative;
    font-family: "Squada One";
    font-size: 2.5em;
    text-transform: uppercase;
    line-height: 2em;
    color: black;
    text-decoration: none;
    padding-left: 0.8em;
}

nav span.arrow {
    position: absolute;
    background: url(../img/elements/long-arrow.png) no-repeat center right;
    height: 100%;
    width: 60px;
    left: 120px;
}

nav span.arrow.active {
    width: 100px;   
}


/* Default text styling 
=========================================================================*/

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-weight: bold;
}

h2 {
    font-family: "Squada One";
    font-size: 3.6em;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1em;
    margin: 0;
    padding: 18px 20px;
    background: url(../img/elements/horizontal-dash.png) repeat-x left bottom;
}

h3 {
    margin: 0;
    padding: 20px 0 0 0;
    line-height: 1em; 
}

p {
    font-size: 1.6em;
    line-height: 1.5625em;
    margin-top: .625em;
    margin-bottom: 0;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;   
}

.tag {
    display: inline-block;
    background: #555;
    border-radius: 2px;
    padding: 2px 7px;
    color: #fff;
    font-size: 0.9em;
    font-weight: normal;
    margin-bottom: 3px;
    text-shadow: #333 1px 1px 1px;
}


/* Grid/layout adjustments 
=========================================================================*/

.container_16 article.grid_12 {
    width: 719px;
    border-left: 1px solid black;
    padding-bottom: 0px;
}

.container_16 article.grid_12 .grid_8 {
   width: 479px;    
}


/* Figures are used for portfolio images and captions 
=========================================================================*/ 

figure {
    margin: 0 0 20px 0;
    padding: 20px  0 0 20px;
    background: url(../img/elements/horizontal-dash.png) repeat-x left top;
    position: relative;
}

figure.first {
    background-image: none;   
}

figure img {
    display: block;    
}

figcaption {
    color: white;
    background-color: #000;
    line-height: 2.14em;
    font-size: 1.4em;
    padding-left: 10px;
    display: block;
}

#project figure {
    margin: 0; 
    padding: 0;
    background-image: none;  
    border-top: 1px solid black;
}

#project figcaption {
    padding-left: 32px;
    background: #000 url(../img/elements/up-arrow.png) no-repeat 16px 8px;
}


/* Portfolio image gallery styles 
=========================================================================*/

a.project {
    text-decoration: none;
}

.project-nav {
    padding: 0 0 20px 20px;
}

section#thumbnails {
    float: right;
    margin-top: 10px;
}

img.keys {
    display: inline-block;
    margin: 5px;  
}

a.thumbnail-graphic {
    display: inline-block;
    width: 46px;
    line-height: 36px;
    text-align: center;
}

a#back-key {
    background: url(../img/elements/back-key.png) no-repeat center center;   
}

a#next-key {
    background: url(../img/elements/next-key.png) no-repeat center center;   
}

a.gallery-nav {
    display: block;
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100px;
    cursor: pointer;
}

a#gallery-previous.active {
    background: url(../img/elements/back-arrow.png) no-repeat center center;
}

a#gallery-previous.inactive {
    cursor: default;
    background-image: none;
}

a#gallery-next {
    right: 0px;   
}

a#gallery-next.active {
    background: url(../img/elements/next-arrow.png) no-repeat center center;
}

a#gallery-next.inactive {
    cursor: default;
    background-image: none;
}


/* Definition lists 
=========================================================================*/

#overview dl {
    padding-left: 20px;
    font-size: 1.4em;
    line-height: 1em;
    margin-top: 0;
    color: #000;
}

#overview dl dt {
    margin-bottom: 5px;
    font-weight: normal;
    color: #777;
}

#overview dl dd {
    margin-left: 0;
    margin-bottom: 10px;
    font-weight: bold;
}


/* Project page-specific files
=========================================================================*/

#description p {
    font-size: 1.4em;
    margin: 0 0 1em 20px;
}

section#gallery {
    border-bottom: 1px solid #000;
}

section#overview {

}

section#description {
    border-left: 1px solid #000;
    width: 478px;
    padding-bottom: 20px;   
}

#project h4 {
    background: url(../img/elements/horizontal-dash.png) repeat-x left bottom;
    padding-left: 20px;
    margin-bottom: 10px; 
}

/* About page-specific files
=========================================================================*/

#about section#description {
    border-left: none;
    border-right: 1px solid #000;
    padding-right: 20px;
    width: 458px;
    padding-top: 20px;
}

#about section#overview {
    padding-top: 20px;
}

/* Footer styles
=========================================================================*/

footer p {
    float: right;
    font-size: 1.3em;
    line-height: 1em;
    margin-top: 0;
}

/* Resume page-specific styles
=========================================================================*/
#resume {
    padding-bottom: 20px; 
}

#resume h3 {
    margin: 0 0 0 20px;
    padding: 0;
    line-height: 1em;
}

p.summary {
    margin: 20px 0 20px 20px;
    font-size: 1.4em;
}

table.resume {
    margin-top: 10px;
    margin-left: 20px;
    width: auto;
}

.resume td {
    border-top: 1px solid #666;
    border-right: none;
    border-bottom: none;
    border-left: none;
    padding: 0;
    margin-bottom: 20px;
}

.resume.small td {
    border-top: none;   
}

.resume td.position {
    border-right: 1px solid #666;
    width: 165px;
    text-align: right;
    padding: 8px 15px 0 0;
    text-transform: uppercase;
    color: #000;
    line-height: 1.5em;
}

.resume.small td.position {
    text-align: left;
    padding-top: 0; 
}

.resume td.description {
    color: #666;
    padding: 10px 0 0 10px;
    font-size: 1.1em;
    line-height: 1.3em;
}

.resume.small td.description {
    padding-top: 0;   
}

#resume .resume h3 {
    margin: 0;
    padding: 0;
    line-height: 1em;   
    text-transform: none;
}

.resume h4 {
    margin: 0;
    padding: 0 0 10px 0;
    line-height: 1em;
    font-size: 1em
}

#resume ul {
    margin-left: 15px;   
}

#resume li {
    color: #666;
    font-size: 1em;
    padding-bottom: 10px;   
}

