@import url("http://fonts.googleapis.com/css?family=Squada+One");
@import url("type/titillium.css");
@import url("grid.css");

/* Major layout elements 
=========================================================================*/

body {
    font-family: "TitilliumMedium";
    background: url(../img/elements/bg.png) left top repeat;
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 62.5%;
}

header {
    height: 177px;
    border-bottom: 3px solid black;
    margin: 0;
    background: url(../img/elements/horizontal-dash.png) repeat-x left 170px;
}

footer {
    border-top: 1px solid black;
    padding: 0;
}

section#about {
    font-family: "TitilliumBold";
    font-size: 2em;
    line-height: 1.5em;
    padding-top: 30px;
}


/* Main sidebar navigation
=========================================================================*/

nav {
    margin: 0;
    padding-top: 24px;
}

nav a {
    display: block;
    font-family: "Squada One";
    font-size: 2.5em;
    text-transform: uppercase;
    line-height: 2em;
    color: black;
    text-decoration: none;
    padding-left: 0.8em;
}

nav a:hover {
    color: red;
}


/* Default text styling 
=========================================================================*/

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-weight: bold;
}

h2 {
    font-family: "Squada One";
    font-size: 3.6em;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1em;
}

h3 {
    margin: 0;
    padding: 20px 0 0 0;
    line-height: 1em; 
}

p {
    font-size: 1.6em;
    line-height: 1.5625em;
    margin-top: .625em;
    margin-bottom: 0;
}

.tag {
    display: inline-block;
    background: red;
    border-radius: 2px;
    padding: 2px 5px;
    color: #fff;
    line-height: 1.5em;
}


/* Grid/layout adjustments 
=========================================================================*/

.container_16 article.grid_12 {
    width: 719px;
    border-left: 1px solid black;
    padding-bottom: 0px;
}

#work h2 {
    padding-left: 20px;
    padding-top: 15px;
}

.container_16 article.grid_12 .grid_8 {
   width: 479px;    
}


/* Figures are used for portfolio images and captions 
=========================================================================*/ 

figure {
    margin: 0 0 20px 0;
    padding: 20px  0 0 20px;
    background: url(../img/elements/horizontal-dash.png) repeat-x left top;
    position: relative;
}

figure img {
    display: block;    
}

figcaption {
    color: white;
    background: #000;
    line-height: 2.14em;
    font-size: 1.4em;
    padding-left: 10px;
    display: block;
}


/* Portfolio image gallery styles 
=========================================================================*/

a.project {
    text-decoration: none;
}

.project-nav {
    padding: 0 0 20px 20px;
}

section#thumbnails {
    float: right;
    margin-top: 10px;
}

img.keys {
    display: inline-block;
    margin: 5px;  
}

a.thumbnail-graphic {
    display: inline-block;
    width: 46px;
    line-height: 36px;
    text-align: center;
}

a#back-key {
    background: url(../img/elements/back-key.png) no-repeat center center;   
}

a#next-key {
    background: url(../img/elements/next-key.png) no-repeat center center;   
}

a.gallery-nav {
    display: block;
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100px;
    cursor: pointer;
}

a#gallery-previous.active {
    background: url(../img/elements/back-arrow.png) no-repeat center center;
}

a#gallery-previous.inactive {
    cursor: default;
    background-image: none;
}

a#gallery-next {
    right: 0px;   
}

a#gallery-next.active {
    background: url(../img/elements/next-arrow.png) no-repeat center center;
}

a#gallery-next.inactive {
    cursor: default;
    background-image: none;
}


/* Definition lists 
=========================================================================*/

#overview dl {
    padding-left: 20px;
    font-size: 1.4em;
    line-height: 1.3em;
}

#overview dl dt {
    margin-bottom: 5px;
}

#overview dl dd {
    margin-left: 0;
    margin-bottom: 20px;
}


/* Project page-specific files
=========================================================================*/

#description p {
    font-size: 1.4em;
    margin-top: 0;
}

section#gallery {
    border-bottom: 1px solid #000;
    background-color: rgba(0,0,0,0.5);
}

section#overview {

}

section#description {
    border-left: 1px solid #000;
    padding-left: 20px;
    width: 458px;
}